{% extends 'base.html.twig' %}
{% block content %}
    <section id="inner-headline" style="margin-bottom: 100px;">
        <div class="container">
            <div class="row">
                <div class="span6">
                    <div class="inner-heading">
                        <h2>Login</h2>
                    </div>
                </div>
                <div class="span6">
                    <ul class="breadcrumb">
                        <li><a href="{{ path('homepage') }}"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
                        <li><a href="#">Sécurité</a><i class="icon-angle-right"></i></li>
                        <li class="active">Login<li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="row" style="margin-bottom: 100px;">


            <div class="modal styled" style="margin: auto" aria-labelledby="mySigninModalLabel" aria-hidden="true"  >
                {% if error %}
                    <p class="alert alert-warning" style="margin-bottom:0"><i class="icon-exclamation-sign"></i>Identifiants invalides</p>
                {% endif %}
                <div class="modal-header">

                    <h4 id="mySigninModalLabel"><strong>Identifiez-vous</strong></h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" action="{{ path('login') }}" method="post">
                        <div class="control-group">
                            <label class="control-label" for="username">Nom</label>
                            <div class="controls">
                                <input type="text" id="username" name="_username" value="{{ last_username }}"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="password">Mot de passe</label>
                            <div class="controls">
                                <input type="password" id="password" name="_password"/>

                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <button type="submit" class="btn">Valider</button>
                            </div>
                            <p class="aligncenter margintop20">
                                Mot de passe oublié? <a href="{{ path('forgot_password') }}">Réinitialiser</a>
                            </p>
                        </div>
                    </form>

            </div>
        </div>
    </div>
{% endblock %}