{% extends 'base.html.twig' %}
{% block title %}Galerie photo -{% endblock %}
{% block description %}Lieux de mémoire de la Guyane française{% endblock %}
{% block content %}

    <section id="inner-headline">
        <div class="container">
            <div class="row">
                <div class="span8">
                    <div class="inner-heading">
                        <h2>Galerie</h2>
                    </div>
                </div>
                <div class="span4">
                    <ul class="breadcrumb">
                        <li><a href="{{ path('homepage') }}"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
                        <li class="active">Galerie</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="content">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <ul class="portfolio-categ filter">
                        <li class="all active"><a href="#">All</a></li>
                        <li class="cayenne"><a href="#" title="">Cayenne</a></li>
                        <li class="kaw"><a href="#" title="">Kaw</a></li>
                        <li class="cacao"><a href="#" title="">Cacao</a></li>
                    </ul>
                    <div class="clearfix">
                    </div>
                    <div class="row">
                        <section id="projects">
                            <ul id="thumbs" class="portfolio">
                                <!-- Item Project and Filter Name -->
                                <li class="item-thumbs span4 design" data-id="id-0" data-type="cayenne">
                                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="La cathédrale Saint-Sauveur de Cayenne" href="img/works/full/image-01-full.jpg">
                                        <span class="overlay-img"></span>
                                        <span class="overlay-img-thumb font-icon-plus"></span>
                                    </a>
                                    <!-- Thumb Image and Description -->
                                    <img src="img/works/thumbs/image-01.jpg" alt="Commencée en 1825, elle fut achevée en 1833. Elle est classée monument historique depuis 1992.">
                                </li>
                                <!-- End Item Project -->
                                <!-- Item Project and Filter Name -->
                                <li class="item-thumbs span4 design" data-id="id-1" data-type="cayenne">
                                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Préfecture de Cayenne" href="img/works/full/image-02-full.jpg">
                                        <span class="overlay-img"></span>
                                        <span class="overlay-img-thumb font-icon-plus"></span>
                                    </a>
                                    <!-- Thumb Image and Description -->
                                    <img src="img/works/thumbs/image-02.jpg" alt="À l'origine, le bâtiment construit entre 1749 et 1752, abrite un couvent de Jésuites. Au début du xixe siècle, il devient hôtel du gouvernement, puis hôtel de la préfecture en 1947.">
                                </li>
                                <!-- End Item Project -->
                                <!-- Item Project and Filter Name -->
                                <li class="item-thumbs span4 photography" data-id="id-2" data-type="cayenne">
                                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Monument Félix Eboué" href="img/works/full/image-03-full.jpg">
                                        <span class="overlay-img"></span>
                                        <span class="overlay-img-thumb font-icon-plus"></span>
                                    </a>
                                    <!-- Thumb Image and Description -->
                                    <img src="img/works/thumbs/image-03.jpg" alt="La statue de Félix Éboué est un monument historique cayennais situé sur la place des Palmistes. Elle a été réalisée en hommage à Félix Éboué, grand homme politique guyanais. Au même titre que la place des Palmistes, la statue est classée au titre des monuments historiques depuis 1999.">
                                </li>
                                <!-- End Item Project -->
                                <!-- Item Project and Filter Name -->
                                <li class="item-thumbs span4 design" data-id="id-0" data-type="cayenne">
                                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Carré militaire" href="img/works/full/image-04-full.jpg">
                                        <span class="overlay-img"></span>
                                        <span class="overlay-img-thumb font-icon-plus"></span>
                                    </a>
                                    <!-- Thumb Image and Description -->
                                    <img src="img/works/thumbs/image-04.jpg" alt="Carré militaire du cimetière de Cayenne où repose notamment le soldat BORICAL Saint-Just du 119ème Régiment d'Infanterie mort pour la France le 13 juin 1916.">
                                </li>
                                <!-- End Item Project -->
                                <!-- Item Project and Filter Name -->
                                <li class="item-thumbs span4 photography" data-id="id-4" data-type="cayenne">
                                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Cimetière de Cayenne - Monument 14 18" href="img/works/full/image-05-full.jpg">
                                        <span class="overlay-img"></span>
                                        <span class="overlay-img-thumb font-icon-plus"></span>
                                    </a>
                                    <!-- Thumb Image and Description -->
                                    <img src="img/works/thumbs/image-05.jpg" alt="Le monument est composé de trois cippes empilés, séparés par un chapiteau qui confère au monument, une forme pyramidale. Trois noms sont gravés : Eugène Pindard, Ulysse Chauvet et Victor Charlery qui n’est pas mort à la guerre 14-18 mais en 1920, au Tonkin.">
                                </li>
                                <!-- End Item Project -->
                                <!-- Item Project and Filter Name -->
                                <li class="item-thumbs span4 photography" data-id="id-5" data-type="cayenne">
                                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Monument Mapa" href="img/works/full/image-06-full.jpg">
                                        <span class="overlay-img"></span>
                                        <span class="overlay-img-thumb font-icon-plus"></span>
                                    </a>
                                    <!-- Thumb Image and Description -->
                                    <img src="img/works/thumbs/image-06.jpg" alt="Monument à la gloire des soldats et marins français morts à Mapa (Brésil) en mai 1895.">
                                </li>
                                <!-- End Item Project -->
                                <!-- Item Project and Filter Name -->
                                <li class="item-thumbs span4 photography" data-id="id-5" data-type="kaw">
                                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Stèle Kaw" href="img/works/full/image-07-full.jpg">
                                        <span class="overlay-img"></span>
                                        <span class="overlay-img-thumb font-icon-plus"></span>
                                    </a>
                                    <!-- Thumb Image and Description -->
                                    <img src="img/works/thumbs/image-07.jpg" alt="Stèle, en en mémoire de deux poilus originaires de Kaw, inaugurée le 30 novembre 2015 en présence de leurs descendants, du maire de la commune de Régina, de la directrice du service départemental de l’ONACVG et d’une délégation de l’ADACVG de la Guyane.">
                                </li>
                                <!-- End Item Project -->
                                <li class="item-thumbs span4 photography" data-id="id-5" data-type="kaw">
                                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Stèle Kaw" href="img/works/full/image-08-full.jpg">
                                        <span class="overlay-img"></span>
                                        <span class="overlay-img-thumb font-icon-plus"></span>
                                    </a>
                                    <!-- Thumb Image and Description -->
                                    <img src="img/works/thumbs/image-08.jpg" alt="Stèle de Kaw - détail">
                                </li>
                                <!-- End Item Project -->
                                <li class="item-thumbs span4 photography" data-id="id-5" data-type="kaw">
                                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Stèle Kaw" href="img/works/full/image-09-full.jpg">
                                        <span class="overlay-img"></span>
                                        <span class="overlay-img-thumb font-icon-plus"></span>
                                    </a>
                                    <!-- Thumb Image and Description -->
                                    <img src="img/works/thumbs/image-09.jpg" alt="Stèle de Kaw - détail">
                                </li>
                                <!-- End Item Project -->
                            </ul>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}