{% extends 'base.html.twig' %}
{% block title %}ADACVG973 SiteMap -{% endblock %}
{% block description %}Plan de site{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">

        a{


            color: black;

        }

    </style>
{% endblock %}
{% block content %}

    <section id="inner-headline">
        <div class="container">
            <div class="row">
                <div class="span8">
                    <div class="inner-heading">
                        <h2>Plan de site</h2>
                    </div>
                </div>
                <div class="span4">
                    <ul class="breadcrumb">
                        <li><a href="{{ path('homepage') }}"><i class="icon-home"></i></a><i
                                    class="icon-angle-right"></i></li>
                        <li class="active">Plan de site</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="content">
        <div class="container">
            <div class="row">
                <div class="span12">

                    <ul>
                        <li><h4>

                                <a href="http://adacvg973.fr"
                                title="ADACVG973 - Association des anciens combattants et victimes de guerre de Guyane ">Homepage</a>
                            </h4>
                        <ul>
                            <li><a href="http://adacvg973.fr/gallery" title="Galerie photo - Association des anciens combattants et victimes de guerre de Guyane ">Galerie photo</a></li>
                            <li><a href="http://adacvg973.fr/legal_notice" title="Mentions légales - Association des anciens combattants et victimes de guerre de Guyane ">Mentions légales</a></li>

                        </ul></li>
                        <li>
                            <h4>L'association</h4>
                            <ul>
                                <li><a href="http://adacvg973.fr/presentation"
                                       title="Missions - Association des anciens combattants et victimes de guerre de Guyane ">Présentation</a>
                                </li>
                                <li><a href="http://adacvg973.fr/conseil_administration"
                                       title="Conseil d'administration - Association des anciens combattants et victimes de guerre de Guyane ">Conseil
                                        d'administration</a></li>
                                <li><a href="http://adacvg973.fr/honorary_president"
                                       title="Président d'honneur - Association des anciens combattants et victimes de guerre de Guyane ">Président
                                        d'honneur</a></li>
                            </ul>
                        </li>

                        <li><h4><a href="http://adacvg973.fr/actualites"
                                   title="Actualités -  Association des anciens combattants et victimes de guerre de Guyane ">Actualités</a>
                            </h4></li>
                        <li><h4><a href="http://adacvg973.fr/adhesion"
                                   title="Adhésion - Association des anciens combattants et victimes de guerre de Guyane ">Adhésion</a>
                            </h4></li>
                        <li><h4><a href="http://adacvg973.fr/calendrier"
                                   title="Calendrier des évènements - Association des anciens combattants et victimes de guerre de Guyane ">Calendrier
                                    des évènements</a></h4></li>
                        <li><h4><a href="http://adacvg973.fr/contact"
                                   title="Contact - Association des anciens combattants et victimes de guerre de Guyane ">Contact</a>
                            </h4></li>

                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}