{% extends 'base.html.twig' %}
{% block title %}Honorariat -{% endblock %}
{% block content %}

        <!-- end header -->
        <section id="inner-headline">
            <div class="container">
                <div class="row">
                    <div class="span5">
                        <div class="inner-heading">
                            <h2>Honorariat</h2>
                        </div>
                    </div>
                    <div class="span7">
                        <ul class="breadcrumb">
                            <li><a href="#"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
                            <li><a href="#">L'association</a><i class="icon-angle-right"></i></li>
                            <li class="active">Honorariat</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section id="content">
            <div class="container">
                <div class="row">
                    <div class="span3">
                        <img src="{{ asset('img/dummies/team7.jpg') }}" alt="Georges EUTROPE, président honoraire de l'ADACVG973" class="img-polaroid"/>

                    </div>
                    <div class="span9">
                        <h3>
                            <strong>Honoré Georges Emile Louis EUTROPE </strong>
                        </h3>
                        <h4>
                            Président d'honneur
                        </h4>
                        <p>Honoré Georges Emile Louis EUTROPE, né le 22 décembre 1929 à CAYENNE s’engage, le 15 octobre 1949, au service des armes de la FRANCE.</p>

                       <p>Le 19 décembre 1949 il embarque sur le « SAINT DOMINGUE » au Vieux port de CAYENNE et quitte la GUYANE. Il a une remarquable carrière tout d’abord comme militaire du rang, puis sous-officier et termine comme officier.</p>

                        <p>Il sert au sein du Service du Matériel et des Bâtiments Coloniaux. Il effectue un séjour de trois ans en INDOCHINE au sein du Corps Expéditionnaire Français d’Extrême-Orient, trois ans et six mois en MARTINIQUE et deux ans au TCHAD.</p>

                        <p>En février 1977 il quitte les armes avec le grade de capitaine et revient en GUYANE.</p>

                        <p>Il est chevalier de la Légion d’Honneur, officier de l’Ordre National du Mérite et décoré de la Médaille Militaire.</p>

                        <p>Président de l’Association départementale des Anciens Combattants et Victimes de Guerre de la GUYANE pendant dix-neuf ans, le titre de président d’honneur de l’association lui est attribué.</p>



                    </div>

                </div>
            </div>

        </section>



{% endblock %}