{% extends 'base.html.twig' %}
{% block title %}Président d'honneur -{% endblock %}
{% block content %}

        <!-- end header -->
        <section id="inner-headline">
            <div class="container">
                <div class="row">
                    <div class="span5">
                        <div class="inner-heading">
                            <h2>Président d'honneur</h2>
                        </div>
                    </div>
                    <div class="span7">
                        <ul class="breadcrumb">
                            <li><a href="#"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
                            <li><a href="#">L'association</a><i class="icon-angle-right"></i></li>
                            <li class="active">Président d'honneur</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section id="content">
            <div class="container">
                <div class="row">
                    <div class="span6">
                        <div class="wrapper">
                            <div class="testimonial">
                                <div class="author">
                                    <p class="name">
                                        Georges EUTROPE
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </section>



{% endblock %}