{% extends 'base.html.twig' %}
{% block title %}Anciens présidents{% endblock %}
{% block content %}

        <!-- end header -->
        <section id="inner-headline">
            <div class="container">
                <div class="row">
                    <div class="span4">
                        <div class="inner-heading">
                            <h2>Anciens présidents</h2>
                        </div>
                    </div>
                    <div class="span8">
                        <ul class="breadcrumb">
                            <li><a href="#"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
                            <li><a href="#">L'association</a><i class="icon-angle-right"></i></li>
                            <li class="active">Anciens présidents</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section id="content">
            <div class="container">
                <div class="row">
                    <div class="span6">
                        <div class="wrapper">
                            <div class="testimonial">
                                <div class="author">
                                    <p class="name">
                                        Albert DARNAL, fondateur
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span6">
                        <div class="wrapper">
                            <div class="testimonial">
                                <div class="author">
                                    <p class="name">
                                        Auguste BOUDINOT
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span6">
                        <div class="wrapper">
                            <div class="testimonial">
                                <div class="author">
                                    <p class="name">
                                        Raymond TRIBORD
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span6">
                        <div class="wrapper">
                            <div class="testimonial">
                                <div class="author">
                                    <p class="name">
                                        Emile LEMKI
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="span6">
                        <div class="wrapper">
                            <div class="testimonial">
                                <div class="author">
                                    <p class="name">
                                        Emmanuel ACHILLE
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span6">
                        <div class="wrapper">
                            <div class="testimonial">
                                <div class="author">
                                    <p class="name">
                                        Thélus THEBIA
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span6">
                        <div class="wrapper">
                            <div class="testimonial">
                                <div class="author">
                                    <p class="name">
                                        Georges EUTROPE, président d'honneur
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="span6">
                        <div class="wrapper">
                            <div class="testimonial">
                                <div class="author">
                                    <p class="name">
                                        Denis RIQUIER
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </section>



{% endblock %}