{% extends 'base.html.twig' %}
{% block title %}Présentation{% endblock %}
{% block description %}Les missions de l'ADACVG de Guyane française
<ul>
    <li>
        rassembler les anciens combattants, les victimes de guerre
        ainsi que leurs ayants droits reconnus par l’Office National des Anciens Combattants et
        Victimes de Guerre
    </li>
    <li>
        défendre les intérêts moraux, matériels et l’honneur des
        anciens combattants, des victimes de guerre et des « Morts pour la FRANCE »
    </li>
    <li>
        apporter un soutien moral ou financier aux membres
        ressortissants de l’Office National des Anciens Combattants et Victimes de Guerre.
    </li>
</ul>{% endblock %}
{% block content %}

    <!-- end header -->
    <section id="inner-headline">
        <div class="container">
            <div class="row">
                <div class="span4">
                    <div class="inner-heading">
                        <h2>Présentation</h2>
                    </div>
                </div>
                <div class="span8">
                    <ul class="breadcrumb">
                        <li><a href="{{ path('homepage') }}"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
                        <li><a href="#">L'association</a><i class="icon-angle-right"></i></li>
                        <li class="active">Présentation</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="content">
        <div class="container">
            <div class="row">
                <div class="span6">
                    <h2>Nos missions</h2>
                    <p>
                        L'ADACVG a pour objet :
                    </p>
                    <ul>
                        <li style="margin-bottom: 15px;">de rassembler les anciens combattants, les victimes de guerre
                            ainsi que leurs ayants droits reconnus par l’Office National des Anciens Combattants et
                            Victimes de Guerre
                        </li>
                        <li style="margin-bottom: 15px;">de défendre les intérêts moraux, matériels et l’honneur des
                            anciens combattants, des victimes de guerre et des « Morts pour la FRANCE »
                        </li>
                        <li style="margin-bottom: 15px;">d’apporter un soutien moral ou financier aux membres
                            ressortissants de l’Office National des Anciens Combattants et Victimes de Guerre.
                        </li>
                    </ul>
                    <p><strong>Une permanence est organisée à la Maison du combattant les lundis et vendredi de 8h30 à
                        10h00.</strong></p>
                </div>
                <div class="span6">
                    <!-- start flexslider -->
                    <div class="flexslider">
                        <ul class="slides">
                            <li>
                                <img src="{{ asset('img/works/full/full-1.jpg') }}"
                                     title="drapeau anciens combattants de Guyane"
                                     alt="drapeau anciens combattants de Guyane"/>
                            </li>
                            <li>
                                <img src="{{ asset('img/works/full/full-2.jpg') }}" title="maison du combattant"
                                     alt="maison du combattant Guyane"/>
                            </li>
                            <li>
                                <img src="{{ asset('img/works/full/full-3.jpg') }}"
                                     title="salle d'honneur maison du combattant"
                                     alt="salle d'honneur maison du combattant Guyane"/>
                            </li>
                        </ul>
                    </div>
                    <!-- end flexslider -->
                </div>
            </div>

        </div>
    </section>



{% endblock %}