{% extends 'base.html.twig' %}
{% block content %}
    <section id="inner-headline">
        <div class="container">
            <div class="row">
                <div class="span4">
                    <div class="inner-heading">
                        <h2>Contact</h2>
                    </div>
                </div>
                <div class="span8">
                    <ul class="breadcrumb">
                        <li><a href="{{ path('homepage') }}"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
                        <li class="active">Contact</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="content">
        <div id="google-map"></div>

        <div class="container">
            <div class="row">
                <div class="span12">
                    <h4>Contactez-nous <strong>en remplissant le formulaire ci-dessous</strong></h4>

                    <form action="" method="post" role="form" class="contactForm">
                        <div id="sendmessage">Your message has been sent. Thank you!</div>
                        <div id="errormessage"></div>

                        <div class="row">
                            <div class="span4 form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                                       data-rule="minlen:4" data-msg="Please enter at least 4 chars"/>
                                <div class="validation"></div>
                            </div>
                            <div class="span4 form-group">
                                <input type="email" class="form-control" name="email" id="email"
                                       placeholder="Your Email" data-rule="email"
                                       data-msg="Please enter a valid email"/>
                                <div class="validation"></div>
                            </div>
                            <div class="span4 form-group">
                                <input type="text" class="form-control" name="subject" id="subject"
                                       placeholder="Subject" data-rule="minlen:4"
                                       data-msg="Please enter at least 8 chars of subject"/>
                                <div class="validation"></div>
                            </div>
                            <div class="span12 margintop10 form-group">
                                <textarea class="form-control" name="message" rows="12" data-rule="required"
                                          data-msg="Please write something for us" placeholder="Message"></textarea>
                                <div class="validation"></div>
                                <p class="text-center">
                                    <button class="btn btn-large btn-theme margintop10" type="submit">Submit message
                                    </button>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    <script>
        function initMap() {
            var adacvg = {lat: 4.934608, lng: -52.327294};
            var map = new google.maps.Map(document.getElementById('google-map'), {
                zoom: 15,
                center: adacvg
            });

            var infowindow = new google.maps.InfoWindow({
                content: '<p>'+'<b>Maison du combattant</b>'+'</p>'+'<p>'+'38, rue des 14 et 22 juin 1962'+'</p>'
            });
            var marker = new google.maps.Marker({
                position: adacvg,
                map: map,
                animation: google.maps.Animation.DROP,
                title : 'Maison du combattant'

            });
            marker.addListener('click', function() {
                infowindow.open(map, marker);
            });
        }
    </script>

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDrQL_c6RoayVkQDzIqsJBwlhbc9UrzmBM&callback=initMap"></script>
{% endblock %}