Veuillez trouver ci-dessous le lien permettant de réinitialiser votre mot de passe:
<p>

    <a href="{{ url('register',{key: user.token}) }}">
        {{ url('register',{key: user.token}) }}
    </a>
</p>