{% extends 'base.html.twig' %}
{% block content %}
    <section id="inner-headline">
        <div class="container">
            <div class="row">
                <div class="span8">
                    <div class="inner-heading">
                        <h2>Rejoignez-nous</h2>
                    </div>
                </div>
                <div class="span4">
                    <ul class="breadcrumb">
                        <li><a href="{{ path('homepage') }}"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
                        <li class="active">Rejoignez-nous</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="content">
        <div class="container">


            <div class="row">

                <div class="span10">
                    <h4>Conditions d'adhésion</h4>
                    <p>
                        Excitavit hic ardor milites per municipia plurima, quae isdem conterminant, dispositos et castella, sed quisque serpentes latius pro viribus repellere moliens, nunc globis confertos, aliquotiens et dispersos multitudine superabatur ingenti, quae nata et educata inter editos recurvosque ambitus montium eos ut loca plana persultat et mollia, missilibus obvios eminus lacessens et ululatu truci perterrens.
                    </p>

                </div>

                <div class="span10">
                    <h4>Téléchargez notre formulaire en ligne</h4>
                    <p>
                        Excitavit hic ardor milites per municipia plurima, quae isdem conterminant, dispositos et castella, sed quisque serpentes latius pro viribus repellere moliens, nunc globis confertos, aliquotiens et dispersos multitudine superabatur ingenti, quae nata et educata inter editos recurvosque ambitus montium eos ut loca plana persultat et mollia, missilibus obvios eminus lacessens et ululatu truci perterrens.
                    </p>
                    <p style="text-align:center">
                        <i class="icon-rounded icon-file-alt icon-64"></i>
                    </p>

                </div>
            </div>
        </div>

    </section>
{% endblock %}