{% extends 'base.html.twig' %}
{% block title %}Adhésion -{% endblock %}
{% block description %}Devenez adhérent de l'association{% endblock %}
{% block content %}
    <section id="inner-headline">
        <div class="container">
            <div class="row">
                <div class="span8">
                    <div class="inner-heading">
                        <h2>Rejoignez-nous</h2>
                    </div>
                </div>
                <div class="span4">
                    <ul class="breadcrumb">
                        <li><a href="{{ path('homepage') }}"><i class="icon-home"></i></a><i
                                    class="icon-angle-right"></i></li>
                        <li class="active">Rejoignez-nous</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section id="content">
        <div class="container">


            <div class="row">

                <div class="span10" style="text-align: justify">
                    <h4>Conditions d'adhésion</h4>
                    <p>
                        L'ADACVG de Guyane se compose de « membres d'honneur », de « membres ressortissants » de l’Office National
                        des Anciens Combattants et Victimes de Guerre et de « membres sympathisants ».</p>
                    <ul>
                        <li>Les membres d'honneur sont des personnes physiques ou morales qui ont rendu d'éminents
                            services à l'association.
                        </li>
                        <li>Les membres ressortissants de l’Office National des Anciens Combattants et Victimes de
                            Guerre (ONACVG) sont des personnes anciens combattants, victimes de guerre ou ayants droits
                            reconnus par l’Office Nationale des Anciens Combattants et Victimes de Guerre.
                        </li>
                        <li>Les membres sympathisants sont des personnes adhérentes aux buts de l'association.</li>
                    </ul>




                </div>

                <div class="span10">
                    <h4>Vous souhaitez adhérer?</h4>
                    <p>Les personnes souhaitant adhérer à l’association doivent s’acquitter d’une cotisation (fixée au
                        1er janvier 2018 à 25 euros pour l’année) auprès du trésorier et remplir la fiche d’adhésion
                        disponible ci-dessous. Les « membres ressortissants » de l’Office National des Anciens
                        Combattants et Victimes de Guerre fourniront une copie du document justifiant leur qualité
                        vis-à-vis de l’ONACVG et une copie de leur pièce d’identité.
                    <p><strong> Permanences du trésorier : les lundis et vendredis de 8h30 à 10h </strong></p>
                    <h4>Téléchargez notre formulaire d'adhésion</h4>
                    <p style="text-align:center">
                        <a href="{{ path('download') }}" title="formulaire d'adhésion"> <i class="icon-rounded icon-file-alt icon-64"></i></a>
                    </p>

                </div>
            </div>
        </div>

    </section>
{% endblock %}